@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans&display=swap');

@font-face{
    font-family: 'FontAwesome5Brands';
    src: url(assets/fonts/FontAwesome5Brands-Regular.woff) format('woff');
    src: url(assets/fonts/FontAwesome5Brands-Regular.ttf) format('truetype');
}