.pod-header {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 4;
}

.pod-nav {
    width: 100%;
    background: $color-white;

    #hamburguer {
        display: none;

        &:checked ~ ul {
            display: block;
            background: linear-gradient(225deg, $color-gradient-bottom-color, $color-gradient-top);
        }

        @include sm {
            display: none;
        }
    }

    .logo {
        @include sm {
            padding: 2% 5%;
        }
    }

    img {
        height: 32px;
        vertical-align: middle;
        padding: 2% 5%;
        animation: rotation 5s infinite linear;

        @include sm {
            padding: 0;
        }
    }

    label {
        display: inline-block;
        color: $color-font;
        font-style: normal;
        font-size: 2em;
        padding: 2% 5%;
        vertical-align: middle;
        float: right;
        cursor: pointer;

        @include sm {
            display: none;
        }
    }

    ul {
        list-style-type: none;
        display: none;
        padding: 0 5%;

        li {
            padding: 0 0 2rem 0;

            a {
                color: $color-white;
                font-size: 1.33rem;
                line-height: 2.33rem;

                &:hover {
                    color: $color-button;
                }

                @include sm {
                    color: $color-font;
                }
            }

            &:first-child {
                padding-top: 1.33rem;

                @include sm {
                    padding: 0;
                }
            }

            @include sm {
                padding: 0 0 0 4rem;
            }
        }

        @include sm {
            display: flex;
            padding: 2% 5%;
            margin: 0 0 0 auto;
        }
    }

    @include sm {
        display: flex;
        max-height: 6.67rem;
    }
}