.pod-header {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 4;
}

.pod-nav {
    width: 100%;
    background: $color-white;

    #hamburguer {
        display: none;
    }

    .container {
        background-color: $color-white;
    }

    img {
        height: 32px;
        vertical-align: middle;
        padding: 2% 5%;
    }

    label {
        display: inline-block;
        color: $color-font;
        font-style: normal;
        font-size: 2em;
        padding: 2% 5%;
        vertical-align: middle;
        float: right;
    }

    input {
        &:checked ~ ul {
            display: block;
            background: linear-gradient(225deg, $color-gradient-bottom-color, $color-gradient-top);
        }
    }

    ul {
        list-style-type: none;
        display: none;
        padding: 0 5% 0 5%;

        li {
            padding: 0 0 2rem 0;

            a {
                color: $color-white;
                font-size: 1.33rem;
                line-height: 2.33rem;

                &:hover {
                    color: $color-button;
                }
            }

            &:first-child {
                padding-top: 1.33rem;
            }
        }
    }
}