* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: $default-font-size;
     
    a {
        text-decoration: none;
        color: $color-font;

        &:hover {
            color: $color-button;
            font-weight: bold;
        }
    }

    p {
        font-size: 1.17rem;
        line-height: 1.83rem;
    }
}

body {
    background-color: $color-background;
    font-family: $font-family-plex-mono;
    color: $color-font;

    h1 {

        font-family: $font-family-plex-sans;
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: lighter;

        span.linethrough {
            text-decoration: line-through;
            font-size: 3rem;

            @include sm {
                font-size: 5.33rem;
                line-height: 7rem;
            }
        }

        span.blue {
            color: $color-blue;
            font-size: 3rem;
        }

        @include sm {
            font-size: 5.33rem;
            line-height: 7rem;
        }
    }

    h2 {
        font-size: 3rem;
        font-weight: lighter;
        font-family: $font-family-plex-sans;

        @include sm {
            font-size: 4rem;
            line-height: 4rem;
        }
    }
}
