* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: $default-font-size;
     
    a {
        text-decoration: none;
        color: $color-font;

        &:hover {
            color: $color-button;
            font-weight: bold;
        }
    }
}

body {
    background-color: $color-background;
    font-family: 'IBM Plex Mono', monospace;
    color: $color-font;
    font-size: 1.17rem;
}

.container {
    padding: 0 5%;
    margin: 0 auto;
}