* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: $default-font-size;
     
    a {
        text-decoration: none;
        color: $color-font;

        &:hover {
            color: $color-button;
            font-weight: bold;
        }
    }

    p {
        font-size: 1.17rem;
        line-height: 1.83rem;
    }
}

body {
    background-color: $color-background;
    font-family: $font-family-plex-mono;
    color: $color-font;

    h1 {

        font-family: $font-family-plex-sans;
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: lighter;

        span.linethrough {
            text-decoration: line-through;
            font-size: 3rem;

            @include sm {
                font-size: 5.33rem;
                line-height: 7rem;
            }
        }

        span.blue {
            color: $color-blue;
            font-size: 3rem;
        }

        @include sm {
            font-size: 5.33rem;
            line-height: 7rem;
        }
    }
}

.container {
    padding: 0 5%;
    max-width: $screen-xl-min - 400px;
    margin: 0 auto;

    .title {
        margin: 0 auto 0 0;
        max-width: 90%;

        h1 {
            padding: 2.42rem 0 0 0;

            @include sm {
                padding: 10rem 0 0 0;
            }
        }
    }

    .subtitle {
        p {
            padding: 1.33rem 0 0 0;

            @include sm {
                font-size: 1.33rem;
                line-height: 2rem;
            }
        }

        @include sm {
            max-width: 52.33rem;
        }
    }

    .button {
        padding: 3rem 0 0 0;

        @include sm {
            padding: 4.67rem 0 0 0;
        }
    }
}