$color-background: #ffffff;
$color-black: #000000;
$color-button: #00f3bb;
$color-button-gradient-right: #0000fe;
$color-facebook: #3b5998;
$color-font: #060A24;
$color-gradient-bottom-color: #0000a3;
$color-gradient-top: #0000ff;
$color-instagram: #dd2a7b;
$color-menu-background: #0000ec;
$color-spotify: #1ed761;
$color-telegram: #0088cc;
$color-twitter: #08a0e9;
$color-white: #ffffff;

$default-font-size: 12px;