$color-background: #ffffff;
$color-black: #000000;
$color-button: #00f3bb;
$color-button-gradient-right: #0000fe;
$color-font: #060A24;
$color-gradient-bottom-color: #0000a3;
$color-gradient-top: #0000ff;
$color-menu-background: #0000ec;
$color-white: #ffffff;

$default-font-size: 12px;