$color-background: #ffffff;
$color-black: #000000;
$color-button: #00f3bb;
$color-button-gradient-right: #0000fe;
$color-facebook: #3b5998;
$color-font: #060A24;
$color-gradient-bottom-color: #0000a3;
$color-gradient-top: #0000ff;
$color-instagram: #dd2a7b;
$color-menu-background: #0000ec;
$color-spotify: #1ed761;
$color-telegram: #0088cc;
$color-twitter: #08a0e9;
$color-white: #ffffff;
$color-blue: #0000ec;


$font-family-plex-mono: 'IBM Plex Mono', monospace;
$font-family-plex-sans: 'IBM Plex Sans', sans-serif;

$default-font-size: 12px;

$screen-xs-min: 321px;
$screen-sm-min: 769px;
$screen-md-min: 961px;
$screen-lg-min: 1201px;
$screen-xl-min: 1441px;